{% extends "plantilla.html" %} {% block contenido %} {%load static %}
<div class="container w-50 mt-4 mb-4">
  <h2 class="text-center">
    Registrar Cliente <i class="fa-solid fa-users"></i>
  </h2>
  <form
    class="border p-3 rounded-3"
    action="/guardarCliente/"
    method="POST"
    enctype="multipart/form-data"
    id="formCliente"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Nombre</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Dario Mena"
            value=""
            name="nombre_wt"
            id="nombre_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Email</label>
          <input
            type="email"
            required
            class="form-control m-1"
            placeholder="Ej. alguien@example.com"
            value=""
            name="email_wt"
            id="email_wt"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="m-1">
          <label for="" class="form-label m-1">Direccion</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Av. Example"
            value=""
            name="direccion_wt"
            id="direccion_wt"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Telefono</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. 000 0000 000"
            value=""
            name="telefono_wt"
            id="telefono_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label"> Provincia</label>
        <select
          name="idProvincia_wt"
          required
          class="form-control m-1"
          id="idProvincia_wt"
        >
          <option value="" class="">-- Seleccione una opcion --</option>
          {% for provincia in provincias %}
          <option value="{{provincia.idProvincia_wt}}">
            {{provincia.nombre_wt}}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <center class="mt-2">
      <button type="submit" name="button" class="btn btn-outline-primary">
        Guardar <i class="fa-regular fa-floppy-disk"></i></button
      >&nbsp;&nbsp;
      <button type="reset" name="button" class="btn btn-outline-danger">
        Cancelar <i class="fa-regular fa-window-close"></i>
      </button>
    </center>
  </form>
</div>
<center class="mt-4 mb-4">
  <div class="container table-responsive">
    <h2 class="text-center">Lista de Clientes</h2>
    <table
      class="table table-striped table-bordered table-hover"
      id="tbCliente"
    >
      <thead>
        <tr class="table-dark">
          <th class="text-center" scope="col">Id</th>
          <th class="text-center" scope="col">Nombre</th>
          <th class="text-center" scope="col">Email</th>
          <th class="text-center" scope="col">Telefono</th>
          <th class="text-center" scope="col">Direccion</th>
          <th class="text-center" scope="col">Provincia</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td class="text-center">{{cliente.idCliente_wt}}</td>
          <td class="text-center">{{cliente.nombre_wt}}</td>
          <td class="text-center">{{cliente.email_wt}}</td>
          <td class="text-center">{{cliente.telefono_wt}}</td>
          <td class="text-center">{{cliente.direccion_wt}}</td>
          <td class="text-center">{{cliente.provincia_wt.nombre_wt}}</td>
          <td class="text-center">
            <a
              href="/editarCliente/{{cliente.idCliente_wt}}"
              class="btn btn-outline-info m-1"
              >Editar <i class="fa-regular fa-pen-to-square"></i
            ></a>
            <a
              href="javascript:void(0);"
              type="button"
              class="btn btn-outline-warning m-1"
              onclick="eliminarCliente('/eliminarCliente/{{cliente.idCliente_wt}}')"
              >Eliminar <i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</center>
<script type="text/javascript">
  function eliminarCliente(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
        [
          '<button><b>SI</b></button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
            window.location.href = url
          },
          true,
        ],
        [
          '<button>NO</button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
          },
        ],
      ],
    })
  }
</script>
<script>
  $.validator.addMethod(
    'lettersonly',
    function (value, element) {
      return this.optional(element) || /^[a-zA-Z]+$/i.test(value)
    },
    'Por favor, ingrese solo letras'
  )
  $('#formCliente').validate({
    rules: {
      idCliente_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      nombre_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
        lettersonly: true,
      },
      email_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      direccion_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      telefono_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      idProvincia_wt: {
        required: true,
      },
    },
    messages: {
      idCliente_wt: {
        required: 'Por favor, ingrese un id',
        minlength: 'Por favor, ingrese al menos 3 caracteres',
        maxlength: 'Por favor, ingrese menos de 50 caracteres',
      },
      nombre_wt: {
        required: 'Por favor, ingrese un nombre',
        minlength: 'Por favor, ingrese al menos 3 caracteres',
        maxlength: 'Por favor, ingrese menos de 50 caracteres',
      },
      email_wt: {
        required: 'Por favor, ingrese un email',
        minlength: 'Por favor, ingrese al menos 3 caracteres',
        maxlength: 'Por favor, ingrese menos de 50 caracteres',
      },
      direccion_wt: {
        required: 'Por favor, ingrese una direccion',
        minlength: 'Por favor, ingrese al menos 3 caracteres',
        maxlength: 'Por favor, ingrese menos de 50 caracteres',
      },
      telefono_wt: {
        required: 'Por favor, ingrese un telefono',
        minlength: 'Por favor, ingrese al menos 3 caracteres',
        maxlength: 'Por favor, ingrese menos de 50 caracteres',
      },
      idProvincia_wt: {
        required: 'Por favor, seleccione una provincia',
      },
    },
  })
</script>
<script>
  let table = $('#tbCliente').DataTable({
    searching: true,
    fixedHeader: true,
    paging: true,
    info: true,
    pageLength: 5,
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json',
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        text: 'Exportar a PDF <i class="fas fa-file-pdf"></i>',
        title: 'Detalles de los clientes',
        className: 'btn btn-danger',
        exportOptions: {
          columns: ':visible:not(.acciones-column)',
        },
        init: function (api, node, config) {
          $(node).removeClass('dt-button')
          $(node).prepend('<i class="fas fa-file-pdf"></i>')
        },
      },
      {
        extend: 'print',
        text: 'Imprimir <i class="fas fa-print"></i>',
        className: 'btn btn-warning',
      },
      {
        extend: 'csv',
        text: 'Exportar a CSV <i class="fas fa-file-csv"></i>',
        className: 'btn btn-success',
      },
    ],
    columnDefs: [
      {
        targets: [6],
        className: 'acciones-column',
      },
    ],
  })
</script>
{% endblock contenido %}
