{% extends "plantilla.html" %} {% block contenido %} {%load static %}
<div class="container w-50 mt-4 mb-4">
  <h2 class="text-center">
    Registrar Ingrediente <i class="fa-solid fa-cubes-stacked"></i>
  </h2>
  <form
    class="border p-3 rounded-3"
    action="/guardarIngrediente/"
    method="POST"
    enctype="multipart/form-data"
    id="formIngrediente"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Nombre</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Leche"
            value=""
            name="nombre_wt"
            id="nombre_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Tipo</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Lacteo"
            value=""
            name="tipo_wt"
            id="tipo_wt"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Proveedor</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Lacteos Amazonas"
            value=""
            name="proveedor_wt"
            id="proveedor_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Imagen</label>
          <input
            type="file"
            accept="image/*"
            required
            class="form-control m-1"
            value=""
            name="imagen_wt"
            id="imagen_wt"
          />
        </div>
      </div>
    </div>
    <center class="mt-2">
      <button type="submit" name="button" class="btn btn-outline-primary">
        Guardar <i class="fa-regular fa-floppy-disk"></i></button
      >&nbsp;&nbsp;
      <button type="reset" name="button" class="btn btn-outline-danger">
        Cancelar <i class="fa-regular fa-window-close"></i>
      </button>
    </center>
  </form>
</div>
<center class="mt-4 mb-4">
  <div class="container table-responsive">
    <h2 class="text-center">Lista de Ingredientes</h2>
    <table
      class="table table-striped table-bordered table-hover"
      id="tbIngrediente"
    >
      <thead>
        <tr class="table-dark">
          <th class="text-center" scope="col">Id</th>
          <th class="text-center" scope="col">Nombre</th>
          <th class="text-center" scope="col">Tipo</th>
          <th class="text-center" scope="col">Proveedor</th>
          <th class="tect-center" scope="col">Imagen</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
          <td class="text-center">{{ingrediente.idIngrediente_wt}}</td>
          <td class="text-center">{{ingrediente.nombre_wt}}</td>
          <td class="text-center">{{ingrediente.tipo_wt}}</td>
          <td class="text-center">{{ingrediente.proveedor_wt}}</td>
          <td class="text-center">
            {% if ingrediente.imagen_wt %}
            <img
              src="{{ ingrediente.imagen_wt.url }}"
              alt=""
              width="50px"
              height="50px"
            />
            {% else %}
            <p>Sin imagen</p>
            {% endif %}
          </td>

          <td class="text-center">
            <a
              href="/editarIngrediente/{{ingrediente.idIngrediente_wt}}"
              class="btn btn-outline-info m-1"
              >Editar <i class="fa-regular fa-pen-to-square"></i
            ></a>
            <a
              href="javascript:void(0);"
              type="button"
              class="btn btn-outline-warning m-1"
              onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.idIngrediente_wt}}')"
              >Eliminar <i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</center>
<script type="text/javascript">
  function eliminarIngrediente(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el ingrediente seleccionado?',
      position: 'center',
      buttons: [
        [
          '<button><b>SI</b></button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
            window.location.href = url
          },
          true,
        ],
        [
          '<button>NO</button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
          },
        ],
      ],
    })
  }
</script>
<script>
  $('#formIngrediente').validate({
    rules: {
      idIngrediente_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      nombre_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      tipo_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      proveedor_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
      imagen_wt: {
        required: true,
        minlength: 3,
        maxlength: 50,
      },
    },
    messages: {
      idIngrediente_wt: {
        required: 'Por favor ingrese el id del ingrediente',
        minlength: 'El id del ingrediente debe contener mínimo 3 caracteres',
        maxlength: 'El id del ingrediente debe contener máximo 50 caracteres',
      },
      nombre_wt: {
        required: 'Por favor ingrese el nombre del ingrediente',
        minlength:
          'El nombre del ingrediente debe contener mínimo 3 caracteres',
        maxlength:
          'El nombre del ingrediente debe contener máximo 50 caracteres',
      },
      tipo_wt: {
        required: 'Por favor ingrese el tipo del ingrediente',
        minlength: 'El tipo del ingrediente debe contener mínimo 3 caracteres',
        maxlength: 'El tipo del ingrediente debe contener máximo 50 caracteres',
      },
      proveedor_wt: {
        required: 'Por favor ingrese el proveedor del ingrediente',
        minlength:
          'El proveedor del ingrediente debe contener mínimo 3 caracteres',
        maxlength:
          'El proveedor del ingrediente debe contener máximo 50 caracteres',
      },
      imagen_wt: {
        required: 'Por favor ingrese la imagen del ingrediente',
        minlength:
          'La imagen del ingrediente debe contener mínimo 3 caracteres',
        maxlength:
          'La imagen del ingrediente debe contener máximo 50 caracteres',
      },
    },
  })
</script>
<script>
  let table = $('#tbIngrediente').DataTable({
    searching: true,
    fixedHeader: true,
    paging: true,
    info: true,
    pageLength: 5,
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json',
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        text: 'Exportar a PDF <i class="fas fa-file-pdf"></i>',
        title: 'Detalles de los clientes',
        className: 'btn btn-danger',
        exportOptions: {
          columns: ':visible:not(.acciones-column)',
        },
        init: function (api, node, config) {
          $(node).removeClass('dt-button')
          $(node).prepend('<i class="fas fa-file-pdf"></i>')
        },
      },
      {
        extend: 'print',
        text: 'Imprimir <i class="fas fa-print"></i>',
        className: 'btn btn-warning',
      },
      {
        extend: 'csv',
        text: 'Exportar a CSV <i class="fas fa-file-csv"></i>',
        className: 'btn btn-success',
      },
    ],
    columnDefs: [
      {
        targets: [5],
        className: 'acciones-column',
      },
    ],
  })
</script>
{% endblock contenido %}
