{% extends "plantilla.html" %} {% block contenido %} {%load static %}
<div class="container w-50 mt-4 mb-4">
  <h2 class="text-center">
    Registrar Platillo <i class="fa-solid fa-plate-wheat"></i>
  </h2>
  <form
    class="border p-3 rounded-3"
    action="/guardarPlatillo/"
    method="POST"
    enctype="multipart/form-data"
    id="formPlatillo"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Nombre</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Hamburguesa"
            value=""
            name="nombre_wt"
            id="nombre_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Aderezo</label>
          <input
            type="text"
            required
            class="form-control m-1"
            placeholder="Ej. Av. Porcion de papas"
            value=""
            name="aderezos_wt"
            id="aderezos_wt"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="m-1">
          <label for="" class="form-label m-1">Descripcion</label>
          <textarea
            type="text"
            required
            class="form-control"
            placeholder="Ej. Hamburguesa con doble queso y mantequilla"
            value=""
            name="descripcion_wt"
            id="descripcion_wt"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="m-1">
          <label for="" class="form-label m-1">Imagen</label>
          <input
            type="file"
            accept="image/*"
            required
            class="form-control m-1"
            value=""
            name="imagen_wt"
            id="imagen_wt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <label for="" class="form-label"> Tipo</label>
        <select
          name="idTipo_wt"
          required
          class="form-control m-1"
          id="idTipo_wt"
        >
          <option value="" class="">-- Seleccione una opcion --</option>
          {% for tipo in tipos %}
          <option value="{{tipo.idTipo_wt}}">{{tipo.nombre_wt}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <center class="mt-2">
      <button type="submit" name="button" class="btn btn-outline-primary">
        Guardar <i class="fa-regular fa-floppy-disk"></i></button
      >&nbsp;&nbsp;
      <button type="reset" name="button" class="btn btn-outline-danger">
        Cancelar <i class="fa-regular fa-window-close"></i>
      </button>
    </center>
  </form>
</div>
<center class="mt-4 mb-4">
  <div class="container table-responsive">
    <h2 class="text-center">Lista de Platillos</h2>
    <table
      class="table table-striped table-bordered table-hover"
      id="tbPlatillo"
    >
      <thead>
        <tr class="table-dark">
          <th class="text-center">ID</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Aderezo</th>
          <th class="text-center w-25">Descripcion</th>
          <th class="text-center">Imagen</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for platillo in platillos %}
        <tr>
          <td class="text-center">{{platillo.idPlatillo_wt}}</td>
          <td class="text-center">{{platillo.nombre_wt}}</td>
          <td class="text-center">{{platillo.aderezos_wt}}</td>
          <td class="text-justify w-25">{{platillo.descripcion_wt}}</td>
          <td class="text-center">
            {% if platillo.imagen_wt %}
            <a href="{{ platillo.imagen_wt.url }}" target="_blank">
              <img
                src="{{ platillo.imagen_wt.url }}"
                alt=""
                width="50px"
                height="50px"
              />
            </a>
            {% else %}
            <p>Sin imagen</p>
            {% endif %}
          </td>
          <td class="text-center">{{platillo.tipo_wt.nombre_wt}}</td>
          <td class="text-center">
            <a
              href="/editarPlatillo/{{platillo.idPlatillo_wt}}"
              class="btn btn-outline-info m-1"
              >Editar <i class="fa-regular fa-pen-to-square"></i
            ></a>
            <a
              href="javascript:void(0);"
              type="button"
              class="btn btn-outline-warning m-1"
              onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.idPlatillo_wt}}')"
              >Eliminar <i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</center>
<script type="text/javascript">
  function eliminarPlatillo(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el platillo seleccionado?',
      position: 'center',
      buttons: [
        [
          '<button><b>SI</b></button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
            window.location.href = url
          },
          true,
        ],
        [
          '<button>NO</button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
          },
        ],
      ],
    })
  }
</script>
<script>
  $.validator.addMethod(
    'lettersonly',
    function (value, element) {
      return this.optional(element) || /^[a-zA-Z]+$/i.test(value)
    },
    'Por favor, ingrese solo letras'
  )
  $('#formPlatillo').validate({
    rules: {
      idPlatillo_wt: {
        required: true,
      },
      nombre_wt: {
        required: true,
        lettersonly: true,
      },
      aderezos_wt: {
        required: true,
      },
      descripcion_wt: {
        required: true,
      },
      imagen_wt: {
        required: true,
      },
      idTipo_wt: {
        required: true,
      },
    },
    messages: {
      idPlatillo_wt: {
        required: 'Este campo es obligatorio',
      },
      nombre_wt: {
        required: 'Este campo es obligatorio',
      },
      aderezos_wt: {
        required: 'Este campo es obligatorio',
      },
      descripcion_wt: {
        required: 'Este campo es obligatorio',
      },
      imagen_wt: {
        required: 'Este campo es obligatorio',
      },
      idTipo_wt: {
        required: 'Este campo es obligatorio',
      },
    },
  })
</script>
<script>
  let table = $('#tbPlatillo').DataTable({
    searching: true,
    fixedHeader: true,
    paging: true,
    info: true,
    pageLength: 5,
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json',
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        text: 'Exportar a PDF <i class="fas fa-file-pdf"></i>',
        title: 'Detalles de los platillos',
        className: 'btn btn-danger',
        exportOptions: {
          columns: ':visible:not(.acciones-column)',
        },
        init: function (api, node, config) {
          $(node).removeClass('dt-button')
          $(node).prepend('<i class="fas fa-file-pdf"></i>')
        },
      },
      {
        extend: 'print',
        text: 'Imprimir <i class="fas fa-print"></i>',
        className: 'btn btn-warning',
      },
      {
        extend: 'csv',
        text: 'Exportar a CSV <i class="fas fa-file-csv"></i>',
        className: 'btn btn-success',
      },
    ],
    columnDefs: [
      {
        targets: [6],
        className: 'acciones-column',
      },
    ],
  })
</script>
{% endblock contenido %}
